@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light text-neutral-dark font-body antialiased;
  }
}

@layer utilities {
  .text-outline-stroke {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    color: transparent;
  }

  .animate-infinite-scroll {
    animation: infinite-scroll 25s linear infinite;
  }

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}